[submodule "lib/libcppsockets"]
	path = lib/libcppsockets
	url = git@github.com:FileShare-Project/libcppsockets.git
[submodule "lib/libfsp"]
	path = lib/libfsp
	url = git@github.com:FileShare-Project/libfsp.git
